body {
    font-family: sans-serif;
/*    font-size: 14px;*/
}

h1 {
    text-align: center;
}

p {
/*    text-align: left;*/
}

.entete {
/*    display: inline-block;*/
    float: right;
    width: 58.4%;
    font-size: 20px;
}

.logo {
    float: left;
    height: 100px;
/*    clear: left;*/
    padding-top: 1.5rem;
}

#semaineDU, #semaineAU {
    width: 175px;
    line-height: normal;
    height: 20px;
    display: inline-block;
    font-size: 18px;
}

table {
    border-collapse: collapse;
/*    clear: both;*/
}

th {
    border: 1px solid white;
    border-top: 1px solid black;
    background-color: black;
    color: white;
    font-weight: 400;
    padding: 5px 10px; 
}

td {
    border: 1px solid black;
    height: 30px;
    background-color: white;
    padding: 0 10px 5px 10px;
/*    font-size: 16px;*/
}

input {
    border: none;
    /*    Ce qui suit oblige l'input à prendre tout l'espace de ma cellule.*/
/*
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
*/
}

input[type="date"]
{
    border: none;
    -webkit-appearance: none;
    font-size: :16px;
}

/*C'est la classe des lignes quand je les déplacent avec sortable.*/
.ui-sortable-helper { 
    box-shadow: 5px 20px 10px 1px;
}   
/*    C'est le code qui empêche les cellules de s'écraser sur elles-mêmes.     */

table tr.ui-sortable-helper {
/*    min-width: 100px;*/
    display: table !important;
}
